<div class="container-blue">
    <h1>
      Projects Overview
    </h1>
  </div>
  <div class="container-blue-light">
    <p>
      These are all of my projects with their descriptions for a brief overview, these project do not include forks. Click a card for more information.
    </p>
  </div>

  <!-- TODO: Add the ability to search for and save any users projects. -->
  <!-- <p>
    Search for a user: <nb-search type="rotate-layout"></nb-search>
    <button nbButton (click)="clearSearch()" class="close">
      <nb-icon icon="close-square-outline"></nb-icon>
    </button>
  </p> -->

  <p>
    <nb-search type="rotate-layout" nbTooltip="Keyword search" nbTooltipPlacement="bottom"></nb-search>
    <button nbButton (click)="clearSearch()" class="close">
      <nb-icon icon="close-square-outline" nbTooltip="Clear search" nbTooltipPlacement="bottom"></nb-icon>
    </button>
  </p>

  <section id="desktop">
    <div class="card-row">
      <div class="card-col"  *ngFor="let project of projects | filter :'name' : searchValue: 'includes'">
        <nb-reveal-card>
          <nb-card-front>
            <nb-card size="medium" accent="primary" class="{{ project.language }}">
              <nb-card-header style="position: relative;">
                {{ project.name }} <span *ngIf="project.latest"><nb-badge text="new" status="success" position="center center" class="badge"></nb-badge></span>
                
                <span *ngIf="project.saved; else notSaved" style="float: right;">
                  <button class="btn-saved" (click)="readLater(project, false)"><nb-icon icon="bookmark" class="icon-save"></nb-icon></button>
                </span>

                <ng-template #notSaved>
                  <span style="float: right;">
                    <button class="btn-save" (click)="readLater(project, true)"><nb-icon icon="bookmark-outline" class="icon-save"></nb-icon></button>
                  </span>
                </ng-template>

              </nb-card-header>
              <nb-card-body>
                <p>{{ project.description }}</p>
                <!-- <p class="center"><a href="{{ project.html_url }}" target="_blank" nbButton nbTooltip="Opens the Project page." nbTooltipPlacement="bottom" class="{{ project.language }}_btn">View Project</a></p> -->
              </nb-card-body>
              <nb-card-footer>Show Details</nb-card-footer>
            </nb-card>
          </nb-card-front>
          <nb-card-back>
            <nb-card size="medium" accent="primary" status="info">
              <nb-card-header>Details</nb-card-header>
              <nb-card-body>
                <div class="center-text">
                  <p class="no-padding" style="margin-top: 2px"><small class="underline">Created:</small></p>
                  <p class="reduced-padding"><span>{{ formatDate(project.created_at) }}</span></p>
                  <p class="no-padding"><small class="underline">Updated:</small></p>
                  <p class="reduced-padding"><span>{{ formatDate(project.updated_at) }}</span></p>
                  <p class="no-padding"><small class="underline">Pushed:</small></p>
                  <p class="reduced-padding"><span>{{ formatDate(project.pushed_at) }}</span></p>
                  <p class="no-padding"><small class="underline">Language:</small></p>
                  <p class="reduced-padding"><span>{{ project.language }}</span></p>
                </div>
                <div class="row" style="display: flex; flex-direction: row; justify-content: space-evenly">
                  <div class="col">
                    <p class="center"><a href="{{ project.html_url }}" target="_blank" nbButton nbTooltip="Navigates to the Github Repo" nbTooltipPlacement="bottom" status="info">View</a></p>
                  </div>
                  <div class="col">
                    <p class="center">
                      <button nbButton (click)="copyCloneUrl(project.clone_url)" status="success" nbTooltip="Copies Repo URL" nbTooltipPlacement="bottom">Clone</button>
                    </p>
                  </div>
                </div>
              </nb-card-body>
              <nb-card-footer>Show Description</nb-card-footer>
            </nb-card>
          </nb-card-back>
        </nb-reveal-card>
      </div>
    </div>
  </section>
  <section id="mobile">
    <div class="card-row">
      <div class="card-col">
        <nb-reveal-card *ngFor="let project of projects | filter :'name' : searchValue: 'includes'">
          <nb-card-front>
            <nb-card size="medium" accent="primary" class="{{ project.language }}">
              <nb-card-header style="position: relative;">
                {{ project.name }} <span *ngIf="project.latest"><nb-badge text="new" status="success" position="center center" class="badge"></nb-badge></span>
                
                <span *ngIf="project.saved; else notSaved" style="float: right;">
                  <button class="btn-saved" (click)="readLater(project, false)"><nb-icon icon="bookmark" class="icon-save"></nb-icon></button>
                </span>

                <ng-template #notSaved>
                  <span style="float: right;">
                    <button class="btn-save" (click)="readLater(project, true)"><nb-icon icon="bookmark-outline" class="icon-save"></nb-icon></button>
                  </span>
                </ng-template>

              </nb-card-header>
              <nb-card-body>
                <p>{{ project.description }}</p>
                <!-- <p class="center"><a href="{{ project.clone_url }}" target="_blank" nbButton nbTooltip="Opens the Project page." nbTooltipPlacement="bottom" class="{{ project.language }}_btn">View Project</a></p> -->
              </nb-card-body>
              <nb-card-footer>Show Details</nb-card-footer>
            </nb-card>
          </nb-card-front>
          <nb-card-back>
            <nb-card size="medium" accent="primary" status="info">
              <nb-card-header>Details</nb-card-header>
              <nb-card-body>
                <div class="center-text">
                  <p class="no-padding" style="margin-top: 2px"><small class="underline">Created:</small></p>
                  <p class="reduced-padding"><span>{{ formatDate(project.created_at) }}</span></p>
                  <p class="no-padding"><small class="underline">Updated:</small></p>
                  <p class="reduced-padding"><span>{{ formatDate(project.updated_at) }}</span></p>
                  <p class="no-padding"><small class="underline">Pushed:</small></p>
                  <p class="reduced-padding"><span>{{ formatDate(project.pushed_at) }}</span></p>
                  <p class="no-padding"><small class="underline">Language:</small></p>
                  <p class="reduced-padding"><span>{{ project.language }}</span></p>
                </div>
                <div class="row" style="display: flex; flex-direction: row; justify-content: space-evenly">
                  <div class="col">
                    <p class="center"><a href="{{ project.html_url }}" target="_blank" nbButton nbTooltip="Navigates to the Github Repo" nbTooltipPlacement="bottom" status="info">View</a></p>
                  </div>
                  <div class="col">
                    <p class="center">
                      <button nbButton (click)="copyCloneUrl(project.clone_url)" status="success" nbTooltip="Copies Repo URL" nbTooltipPlacement="bottom">Clone</button>
                    </p>
                  </div>
                </div>
              </nb-card-body>
              <nb-card-footer>Show Description</nb-card-footer>
            </nb-card>
          </nb-card-back>
        </nb-reveal-card>
      </div>
    </div>
  </section>