.navbar-brand {
    color: white !important;
    text-decoration: none !important;
}

.warning {
    color: red !important;
}

.toggle {
    margin-left: -19px !important;
    margin-bottom: 20px !important;
    // background: transparent !important;
    // color: #0CB2B2 !important;
    border: none !important;
}