
  <nb-layout>

    <nb-layout-header fixed>
      <img src="https://avatars3.githubusercontent.com/u/20286714?s=460&v=4" style="border-radius: 50%; border: 3px solid white; margin-top:0px; margin-right:12px; margin-left:-5px;" width="50px" class="col">
      <h4>Github Client</h4>
    </nb-layout-header>
  
    <nb-sidebar collapsedBreakpoints responsive=true>
      <button nbButton (click)="toggle()" class="toggle"><nb-icon class="menu-icon ng-tns-c7-0 ng-star-inserted" icon="menu-outline"></nb-icon></button>
  
      <app-menu></app-menu>
    </nb-sidebar>
  
    <nb-layout-column>
      <router-outlet></router-outlet>
    </nb-layout-column>
  
    <nb-layout-footer fixed>
      <app-footer></app-footer>
    </nb-layout-footer>
  
  </nb-layout>