<img src="https://avatars3.githubusercontent.com/u/20286714?s=460&v=4" style="border-radius: 50%; margin-top:40px" width="200px">

<div class="container-blue">
  <br/>
  <h1>
    About
  </h1>
</div>
<div class="container-blue-light">
  <p>
      Hi there, I bet you're wondering who the handsome fella in this picture is? Well you guesed it!
  </p>
  <p>
      The person is.. well yeah.. ME! Hahaha.
  </p>
  <hr/>
  <p>
      So for a short breakdown of what the project is about please see the below bullet points:
  </p>
  <ul>
    <li>Test</li>
</ul>
</div>