<img src="https://avatars3.githubusercontent.com/u/20286714?s=460&v=4" style="border-radius: 50%; margin-top:40px; float: right"
  width="400px">

<div class="container-blue">
  <br />
  <h1>
    About
  </h1>
</div>
<div class="container-blue-light">
  <p>
    Hi there, I bet you're wondering who the handsome fella in this picture is? Well you guesed it!<br/>
    The person is.. well yeah.. ME! Hahaha. But on a serious note I'm Nicolaas Nel a Software Engineer from Pretoria in
    South Africa.
  </p>
  <br/>
  <p>
    So for a short breakdown of what the project should be able to do, please see the below:
  </p>
  <h2 id="required">Required:</h2>
  <table>
    <thead>
      <tr>
        <th>Feature</th>
        <th align="center">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Show the latest items from your home feed for a given string.</td>
        <td align="center">[✅]</td>
      </tr>
      <tr>
        <td>Mark as Read Later, and give the ability to see these items later.</td>
        <td align="center">[✅]</td>
      </tr>
    </tbody>
  </table>
  <h2 id="optional">Optional:</h2>
  <table>
    <thead>
      <tr>
        <th>Feature</th>
        <th align="center">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Search to show any users projects.</td>
        <td align="center">[🚧]</td>
      </tr>
      <tr>
        <td>Ability to save and see any users items later.</td>
        <td align="center">[🚧]</td>
      </tr>
    </tbody>
  </table>

</div>